.header {
  display: flex;
  align-items: center;
  height: 55px;
  width: auto;
  padding: 10px;
  justify-content: space-between;
}
.header section {
  color: rgb(129, 123, 123);
  font-size: 18px;
  margin-left: 10px;
}

.header span {
  color: #000;
  font-weight: bold;
}

.search-input {
  display: flex;
  align-items: center;
  width: 360px;
  padding-left: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 3px 4px 7px -3px rgba(209, 204, 204, 0.75);
}

.search-input input {
  display: flex;
  align-items: center;
  width: 360px;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 20px;
  height: 35px;
}

.icon-search {
  color: rgb(88, 84, 84);
  font-size: 16px;
}

.header-buttons {
  display: flex;
  margin-right: 10px;
}

.header-buttons button {
  margin: 5px;
  font-size: 26px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgb(75, 74, 74);
  transition: all 0.4s;
}

.wish-list-header:hover,
.wish-btn:hover {
  color: rgb(255, 0, 0);
  transition: all 0.4s;
}

.cart-header:hover {
  color: rgb(2, 69, 253);
  transition: all 0.4s;
}

#menu-mobile {
  visibility: hidden;
}

@media (max-width: 450px) {
  .header {
    width: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(171, 162, 162);
    height: 105px;
    padding: 5px;
  }

  .header section {
    font-size: 25px;
  }

  .header-buttons {
    width: 110px;
    align-items: center;
    justify-content: space-evenly;
  }

  .search-input input {
    width: 250px;
  }

  .search-input {
    width: auto;
    margin: 5px;
  }

  .header-buttons button,
  .header-buttons,
  .wish-list-header {
    margin: 0px;
    margin-top: 4px;
  }

  .wish-list button {
    font-size: 28px;
  }

  #menu-mobile {
    display: flex;
    font-size: 30px;
    visibility: visible;
  }

  .header-buttons {
    display: none;
    transition: 1s all;
  }

  .is-active {
    z-index: 100;
    display: flex;
    transition: 1s all;
    width: 150px;
    height: 40px;
    visibility: visible;
    position: absolute;
    top: 110px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 4px 7px -3px rgba(67, 66, 66, 0.75);
  }
}
