.place-holder-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 595px;
  user-select: none;
}

.place-holder-text {
  font-size: 40px;
  color: rgb(80, 79, 79);
}

.icon {
  font-size: 50px;
  color: rgb(197, 89, 89);
}

@media (max-width: 450px) {
  .place-holder-text {
    font-size: 35px;
  }

  .place-holder-container {
    height: 300px;
  }
}
