.title-container {
  width: 830px;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: +1.3px;
  color: #4b4949;
}
.product-container {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}
.aside-container {
  width: 240px;
  margin-top: 10px;
  height: 280px;
  border-radius: 20px;
  align-items: flex-end;
  background-color: #fff;
  box-shadow: 3px 4px 7px -3px rgba(209, 204, 204, 0.75);
  padding: 10px;
}
.aside-genre {
  background-color: #f3f4f6;
  box-shadow: 3px 4px 7px -3px rgba(204, 202, 202, 0.75);
  border-radius: 20px;
  display: flex;
  padding: 10px;
  width: 220px;
  flex-direction: column;
}

.aside-genre input {
  margin: 5px;
}
.price-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #f3f4f6;
  box-shadow: 3px 4px 7px -3px rgba(204, 202, 202, 0.75);
  width: 220px;
}
.price-wrapper input {
  display: flex;
  width: 100px;
  padding-left: 8px;
  border-radius: 10px;
  height: 25px;
  border: 2px solid rgb(224, 224, 224);
}
.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  margin-bottom: 10px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  box-shadow: 3px 4px 7px -3px rgba(209, 204, 204, 0.75);
  height: 445px;
  background-color: #fff;
  margin: 12px;
  overflow: hidden;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.2s;
}

.product:hover {
  -moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
  transition: all 0.2s;
}

.product img {
  width: 350px;
  height: 340px;
  cursor: pointer;
}
.rating-stars {
  color: rgb(177, 171, 171);
}

.one-star:nth-child(-n + 1) {
  color: rgb(238, 215, 11);
}

.two-star:nth-child(-n + 2) {
  color: rgb(238, 215, 11);
}

.three-star:nth-child(-n + 3) {
  color: rgb(238, 215, 11);
}

.four-star:nth-child(-n + 4) {
  color: rgb(238, 215, 11);
}

.five-star:nth-child(-n + 5) {
  color: rgb(238, 215, 11);
}

.product-footer {
  display: flex;
  border-top: 1px solid rgb(202, 187, 187);
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.product-buttons button {
  font-size: 27px;
  background-color: transparent;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  border: none;
}
.wish-btn {
  transition: all 0.4s;
}
.wish-btn:hover {
  color: rgb(255, 0, 0);
  transition: all 0.4s;
}
.add-cart-btn {
  transition: all 0.4s;
}

.add-cart-btn:hover {
  color: rgb(2, 69, 253);
  transition: all 0.4s;
}
.product-price p {
  font-size: 18px;
  color: rgb(78, 180, 103);
}

@media (max-width: 450px) {
  .product {
    width: 100%;
    height: 450px;
    margin: 3px;
  }

  .product img{
    width: 100%;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .aside-container {
    display: flex;
    align-items: center;
    width: 250px;
    height: 180px;
  }

  .price-wrapper {
    font-size: 13px;
    width: 100px;
  }

  .price-wrapper input {
    width: 80px;
    font-size: 18px;
    height: 35px;
  }

  .aside-genre {
    width: 150px;
    margin: 5%;
    height: 147px;
    font-size: 13px;
  }

  .product-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .title-container {
    display: none;
  }

  .product-footer {
    width: 300px;
    font-size: 10px;
  }
}
