@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

body {
  background-color: #f3f4f6;
}

.header {
  border: 1px solid red;
  display: flex;
  align-items: center;
  height: 80px;
  width: auto;
  padding: 10px;
  justify-content: space-between;
}

.header section {
  border: 1px solid blue;
}

.main-container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  text-align: center;
  margin: 10px;
  overflow: hidden;
  justify-content: center;
  padding: 10px;
  overflow: auto;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  box-shadow: 3px 4px 7px -3px rgba(209, 204, 204, 0.75);
  height: 470px;
  margin: 10px;
  font-weight: bold;
  overflow: hidden;
  border-radius: 20px;
  background-color: #fff;
}

.product-price p{
  font-size: 18px;
  color: rgb(78, 180, 103);
}

.product-footer{
  display: flex;
  border-top: 1px solid rgb(202, 187, 187);
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.product-buttons button {
  font-size: 23px;
  background-color: transparent;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  border: none;
}

.product img {
  width: 350px;
  height: 350px;
  cursor: pointer;
}

footer {
  height: 200px;
  border: 1px solid black;
  width: auto;
}

.actions {
  display: flex;
  padding: 5px;
  margin: 10px;
  height: 50px;
  width: 200px;
  align-items: center;
}

.actions button {
  margin: 5px;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.product-buttons button:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
  transition: all 0.4s;
}

.wish-btn:hover{
  color: rgb(170, 58, 58);
}

.add-cart-btn:hoveR{
  color: rgb(38, 81, 199);
}

.wish-list{
  border: 1px solid green;
}

.wish-list img {
  width: 240px;
  height: 260px;
}

.cart-main-container{
  display: flex;
  width: 1350px;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}

.cart-products{
  border: 1px solid rgb(200, 255, 0);

}
.cart-list{
  display: flex;
}

.cart-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 9px 9px 13px -8px rgba(97, 97, 97, 0.5);
}

.card-payment{
  border: 1px solid black;
  height: 700px;
  width: 350px;
  margin: 0 auto;
}

.product-details img{
  width: 150px;
  height: 150px;
}

.product-details{
  border: 1px solid rgb(16, 187, 38);
  display: flex;
  align-items: center;
  width: 350px;
}

.description{
  text-align: center;
}

.cart-product{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 900px;
  border: 1px solid red;
}

.image-details{
  text-align: center;
}

.modal-overlay {
  background: rgba(83, 82, 82, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
}

.modal-content img{
  width: 600px;
  height: 500px;
}

.one-star:nth-child(-n+1){
  color: rgb(238, 215, 11);
}

.two-star:nth-child(-n+2){
  color: rgb(238, 215, 11);
}

.three-star:nth-child(-n+3){
  color: rgb(238, 215, 11);
}

.four-star:nth-child(-n+4){
  color: rgb(238, 215, 11);
}

.five-star:nth-child(-n+5){
  color: rgb(238, 215, 11);
}

.rating-stars{
  color: rgb(177, 171, 171);
}
