@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
}

body {
  background-color: #f3f4f6;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.title-container {
  width: 830px;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: +1.3px;
  color: #4b4949;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  width: auto;
  padding: 10px;
  justify-content: space-between;
}

.search-input {
  display: flex;
  align-items: center;
  width: 360px;
  padding-left: 15px;
  border-radius: 10px;
  background-color: #fff;
  height: 40px;
  box-shadow: 3px 4px 7px -3px rgba(209, 204, 204, 0.75);
}

.icon-search {
  color: rgb(88, 84, 84);
  font-size: 18px;
}

.search-input input {
  display: flex;
  align-items: center;
  width: 360px;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 20px;
  background-color: #fff;
  height: 40px;
}

.aside-container {
  width: 240px;
  margin-top: 10px;
  height: 280px;
  border-radius: 20px;
  align-items: flex-end;
  background-color: #fff;
  box-shadow: 3px 4px 7px -3px rgba(209, 204, 204, 0.75);
  padding: 10px;
}

.header section {
  text-decoration: none;
  color: rgb(129, 123, 123);
  font-size: 18px;
  margin-left: 10px;
}

.header span {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.aside-genre {
  background-color: #f3f4f6;
  box-shadow: 3px 4px 7px -3px rgba(204, 202, 202, 0.75);
  border-radius: 20px;
  display: flex;
  padding: 10px;
  width: 220px;
  flex-direction: column;
}

.aside-genre input {
  margin: 5px;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #f3f4f6;
  box-shadow: 3px 4px 7px -3px rgba(204, 202, 202, 0.75);
  width: 220px;
}
.price-wrapper input {
  display: flex;
  width: 100px;
  padding-left: 8px;
  border-radius: 20px;
  height: 25px;
  border: 2px solid rgb(224, 224, 224);
}

.product-container {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

.product-title {
  width: 1080px;
  text-align: left;
  color: rgb(49, 48, 48);
  font-size: 38px;
  font-weight: bold;
  letter-spacing: +1.5px;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  margin-bottom: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  box-shadow: 3px 4px 7px -3px rgba(209, 204, 204, 0.75);
  height: 445px;
  background-color: #fff;
  margin: 10px;
  overflow: hidden;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.2s;
}

.product:hover {
  -moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
  transition: all 0.2s;
}

.product-price p {
  font-size: 18px;
  color: rgb(78, 180, 103);
}

.product-footer {
  display: flex;
  border-top: 1px solid rgb(202, 187, 187);
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.product-buttons button {
  font-size: 23px;
  background-color: transparent;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  border: none;
}

.product img {
  width: 350px;
  height: 340px;
  cursor: pointer;
}

footer {
  height: 120px;
  border-top: 2px solid rgb(204, 200, 200);
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.ecommerce span{
  color:#43a1c7;
}

.footer-text{
  font-size: 13px;
  min-width: 100%;
}

.infos-wrapper{
  font-size: 22px;
  margin: 5px;
  cursor: pointer;
  display: flex;
}

.infos-wrapper p{
  margin: 4px;
}

.infos{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.header-buttons {
  display: flex;
  margin-right: 10px;
}

.header-buttons button {
  margin: 5px;
  font-size: 26px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgb(75, 74, 74);
  transition: all 0.4s;
}

.wish-list-header:hover,
.wish-btn:hover {
  color: rgb(255, 0, 0);
  transition: all 0.4s;
}

.wish-btn,
.add-cart-btn {
  transition: all 0.4s;
}

.add-cart-btn:hover,
.cart-header:hover {
  color: rgb(2, 69, 253);
  transition: all 0.4s;
}

.wish-list img {
  width: 240px;
  height: 260px;
}

.cart-main-container {
  display: flex;
  width: 1350px;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}

.cart-products {
  border: 1px solid rgb(200, 255, 0);
}
.cart-list {
  display: flex;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 9px 9px 13px -8px rgba(97, 97, 97, 0.5);
}

.card-payment {
  border: 1px solid black;
  height: 700px;
  width: 350px;
  margin: 0 auto;
}

.product-details img {
  width: 150px;
  height: 150px;
}

.product-details {
  border: 1px solid rgb(16, 187, 38);
  display: flex;
  align-items: center;
  width: 350px;
}

.description {
  text-align: center;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 900px;
  border: 1px solid red;
}

.image-details {
  text-align: center;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 540px;
  height: 670px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
}

.modal-content h2 {
  font-size: 35px;
  color: #464646;
  border-bottom: 2px solid rgb(172, 166, 166);
  width: 400px;
  text-align: center;
}

.modal-content p{
  font-size: 18px;
}

.price-span{
  color: rgb(78, 180, 103);
  font-weight: bold;
}

.modal-content button {
  font-size: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #464646;
  cursor: pointer;
  font-weight: bold;
  width: 120px;
  border-radius: 20px;
  border: none;
  background-color: rgb(212, 68, 68);
  color: white;
  transition: 0.4s all;
}

.modal-content button:hover {
  background-color: rgb(238, 13, 13);
  transition: 0.4s all;
}

.close-icon {
  font-size: 28px;
}

.modal-content img {
  width: 500px;
  height: 500px;
}

.one-star:nth-child(-n + 1) {
  color: rgb(238, 215, 11);
}

.two-star:nth-child(-n + 2) {
  color: rgb(238, 215, 11);
}

.three-star:nth-child(-n + 3) {
  color: rgb(238, 215, 11);
}

.four-star:nth-child(-n + 4) {
  color: rgb(238, 215, 11);
}

.five-star:nth-child(-n + 5) {
  color: rgb(238, 215, 11);
}

.rating-stars {
  color: rgb(177, 171, 171);
}

.page-btn-container {
  margin-bottom: 10px;
}

.page-btn-container button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
}

.inative-page-btn{
  background-color: #81bed6;
  box-shadow: 3px 4px 7px -3px rgba(82, 80, 80, 0.75);
}

.active-page-btn{
  background-color: #43a1c7;
  box-shadow: 3px 4px 7px -3px rgba(82, 80, 80, 0.75);
}

.active-page-btn, .inative-page-btn{
  color: white;
  height: 35px;
  font-size: 18px;  
  width: 35px;
  transition: 0.4s all;
}

.inative-page-btn:hover{
  background-color: #43a1c7;
  transition: 0.4s all;
}

.arrow-icon{
  font-size: 15px;
  border: none;
  width: 30px;
  color: black;
  height: 30px;
}
